.ansi-black {
    color: rgb(0, 0, 0);
    }
.ansi-darkGray {
    color: rgb(100, 100, 100);
    }
.ansi-lightGray {
    color: rgb(200, 200, 200);
    }
.ansi-white {
    color: rgb(255, 255, 255);
    }
.ansi-red {
    color: rgb(204, 0, 0);
    }
.ansi-lightRed {
    color: rgb(255, 51, 0);
    }
.ansi-green {
    color: rgb(0, 204, 0);
    }
.ansi-lightGreen {
    color: rgb(51, 204, 51);
    }
.ansi-yellow {
    color: rgb(204, 102, 0);
    }
.ansi-lightYellow {
    color: rgb(255, 153, 51);
    }
.ansi-blue {
    color: rgb(0, 0, 255);
    }
.ansi-lightBlue {
    color: rgb(26, 140, 255);
    }
.ansi-magenta {
    color: rgb(204, 0, 204);
    }
.ansi-lightMagenta {
    color: rgb(255, 0, 255);
    }
.ansi-cyan {
    color: rgb(0, 153, 255);
    }
.ansi-lightCyan {
    color: rgb(0, 204, 255);
    }
